:root {
  // Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-300: 211, 45%, 89%;
  --color-neutral-400: 219, 15%, 55%;
  --color-neutral-800: 217, 44%, 22%;
  --color-neutral-900: 100, 100%, 0%;

  --color-content: hsl(var(--color-neutral-400));
  --color-headings: hsl(var(--color-neutral-800));
  --color-body-bg: hsl(var(--color-neutral-300));

  // Fonts
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-body: 0.9375rem;
  --fs-heading: 1.375rem;
  --ff-primary: 'Outfit', sans-serif;

  // Card
  --card-bg: hsl(var(--color-neutral-100));
  --card-shadow: 0 1.5625rem 1.5625rem hsla(var(--color-neutral-900), 0.048);
  --card-radius: 20px;
  --card-padding: 1rem 1rem 2.5rem;
  --card-max-width: 20rem;

  // Card Content
  --card-content-margin-top: 1.5rem;
}
