:root {
  // Colours
  --color-neutral-100: 0, 0, 100%;
  --color-neutral-300: 211, 45, 89%;
  --color-neutral-400: 219, 15, 55%;
  --color-neutral-800: 217, 44, 22%;
  --color-neutral-900: 100, 100%, 0%;
}
