body {
  font-weight: var(--fw-regular);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  line-height: 1.5;
  color: var(--color-content);
  background-color: var(--color-body-bg);
  display: grid;
  place-content: center;
}

.heading {
  color: var(--color-headings);
  font-weight: var(--fw-bold);
}

.attribution {
  text-align: center;
  font-size: var(--attribution-fs);
  margin-top: var(--attribution-margin-top);
  margin-inline: auto;
  max-width: var(--attribution-max-width);

  a {
    color: var(--attribution-link-color);
    text-decoration: none;
  }
}
